<div *ngIf="loadingImages || !loadedImages?.length" id="imageGalleryLoadingOverlay">
  <div id="centredLoadingBox" class="mat-typography">
    <h1>Loading Images</h1>
    <md-spinner id="loadingSpinner">
    </md-spinner>
  </div>
</div>


<div id="imageTable" class="example-container mat-elevation-z8" [ngClass]="{'hidden' : (loadingImages || !loadedImages?.length)}">
  <div class="example-header">
    <md-form-field floatPlaceholder="never">
      <input mdInput #filter placeholder="Filter photos by title">
    </md-form-field>
  </div>

  <md-table #table [dataSource]="dataSource">

    <!-- ID Column -->


    <!-- Thumb Column -->
    <ng-container mdColumnDef="thumb">
      <md-header-cell *mdHeaderCellDef> Thumbnail </md-header-cell>
      <md-cell *mdCellDef="let row">
        <img class="img-thumbnail" src="{{row.thumbnailUrl}}">
      </md-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container mdColumnDef="title">
      <md-header-cell *mdHeaderCellDef> Title </md-header-cell>
      <md-cell *mdCellDef="let row"> {{row.title}} </md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
  <md-paginator #paginator [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[25, 50, 100]" (page)="onPage($event.pageIndex)">
  </md-paginator>
</div>